*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh; ;
    font-family: sans-serif;
    padding: 40px;

}

.main-container{
    max-width:500px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 40px 40px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.summary-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
     margin-bottom: 30px;
}

.summary-item{
    background: #fbf7f7;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.label{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.income{
    color: #4caf50;
}

.expense{
    color: #f44336;
}

.balance{
    color: #2196f3;
    font-weight: bold;
}

.form-container{
    background: #fbf7f7;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
     box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.form-group{
    margin-bottom: 15px;
}

h2{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input, select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.btn-submit{
    background: #667eea;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.btn-submit:hover{
    transform: translateY(-3px);
}

.transaction-container{
    background: #fbf7f7;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.transaction-list{
    list-style: none;
}

